version: '3.5'

services:
  server:
    image: cortezaproject/corteza:2022.9
    restart: always
    # Direct your browser to http://localhost:18080
    ports: [ "127.0.0.1:18080:80" ]
    environment:
      # Used for cookies, links, ...
      DOMAIN: "local.cortezaproject.org:18080"

      # Serve web applications directly from the server container
      HTTP_WEBAPP_ENABLED: "true"

      # Disable action log to minimize db writes
      ACTIONLOG_ENABLED: "false"
