.navbar-brand {
  width: 100%;
}

.algolia-autocomplete {
  margin: auto;
}

.navbar-menu {
  padding-right: 35px;
}

.custom-search {
  margin-top: 2px;
  color: #333;
  padding-left: 5px;
  border-radius: 3.5px;
  border: none;
  font-size: 15px;
  height: 29px;
}

@media screen and (min-width: 769px) {
  .custom-search {
    width: 300px;
  }
}

.algolia-docsearch-suggestion--highlight {
  padding: 0px !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--category-header-lvl0 .algolia-autocomplete .algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--category-header-lvl1 .algolia-docsearch-suggestion--highlight, .algolia-autocomplete .algolia-docsearch-suggestion--text .algolia-docsearch-suggestion--highlight {
  box-shadow: inset 0 -2px 0 0 none !important;
  color: rgb(167, 208, 227) !important;
}